<div
  class="tab-pane fade show active"
  id="profile"
  role="tabpanel"
  aria-labelledby="profile-tab"
>
  <div class="mb-4">
    <div class="d-flex flex-column flex-md-row text-center text-md-start mb-3">
      <figure class="me-4 flex-shrink-0">
        <img
          width="100"
          class="rounded-pill"
          src="../../images/avatar/avatar.png"
          alt="..."
        />
      </figure>
      <div class="flex-fill">
        <h5 class="mb-3"></h5>
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Change Avatar
          </a>

          <div class="dropdown-menu d-flex" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-items" href="#"
                ><img
                  width="40"
                  class="rounded-pill"
                  style="object-fit: cover"
                  src="../../images/avatar/avatar.png"
                  alt=""
              /></a>
            </li>
            <li>
              <a class="dropdown-items" href="#"
                ><img
                  width="40"
                  class="rounded-pill"
                  style="object-fit: cover"
                  src="../../images/avatar/avatar-1.png"
                  alt=""
              /></a>
            </li>
            <li>
              <a class="dropdown-items" href="#"
                ><img
                  width="40"
                  class="rounded-pill"
                  style="object-fit: cover"
                  src="../../images/avatar/avatar-2.png"
                  alt=""
              /></a>
            </li>
            <li>
              <a class="dropdown-items" href="#"
                ><img
                  width="40"
                  class="rounded-pill"
                  style="object-fit: cover"
                  src="../../images/avatar/avatar-3.png"
                  alt=""
              /></a>
            </li>
            <li>
              <a class="dropdown-items" href="#"
                ><img
                  width="40"
                  class="rounded-pill"
                  style="object-fit: cover"
                  src="../../images/avatar/avatar-4.png"
                  alt=""
              /></a>
            </li>
            <li>
              <a class="dropdown-items" href="#"
                ><img
                  width="40"
                  class="rounded-pill"
                  style="object-fit: cover"
                  src="../../images/avatar/avatar-5.png"
                  alt=""
              /></a>
            </li>
          </div>
        </div>
        <button
          class="btn btn-outline-danger btn-icon"
          data-bs-toggle="tooltip"
          aria-label="Remove Avatar"
          data-bs-original-title="Remove Avatar"
        >
          <i class="bi bi-trash me-0"></i>
        </button>
        <p class="small text-muted mt-3">
          For best results, use an image at least 256px by 256px in either .jpg
          or .png format
        </p>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h6 class="card-title mb-4">Basic Information</h6>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="enter name"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="enter email"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Gender</label>
              <div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    id="inlineRadio1"
                    name="inlineRadio"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="inlineRadio1"
                    >Male</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    id="inlineRadio2"
                    name="inlineRadio"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="inlineRadio2"
                    >Female</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    id="inlineRadio3"
                    name="inlineRadio"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="inlineRadio3"
                    >Other</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Phone</label>
              <input type="tel" class="form-control" />
            </div>
            <div class="mb-3">
              <label class="form-label">Country</label>
              <input
                type="text"
                class="form-control"
                placeholder="enter country"
              />
            </div>
            <button
              class="btn btn-primary me-2"
              style="background-color: #3874ff; border: none"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
