<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryptex - About</title>
    <link rel="shortcut icon" href="./favicon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9d3e87d2ef.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- header -->
    <header class="header" data-header>
      <div class="container">
        <a href="./index.html" class="logo">
          <img
            src="../images/logo.svg"
            width="32"
            height="32"
            alt="Cryptex Logo"
          />
          Cryptex
        </a>
        <!-- navbar -->
        <nav class="navbar" data-navbar>
          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="./index.html" class="navbar-link" data-nav-link>
                Homepage
              </a>
            </li>
            <li class="navbar-item">
              <a href="#" class="navbar-link active" data-nav-link> About </a>
            </li>
            <li class="navbar-item">
              <a href="./education.html" class="navbar-link" data-nav-link>
                Education
              </a>
            </li>
            <li class="navbar-item">
              <a href="./help.html" class="navbar-link" data-nav-link> Help Center </a>
            </li>
            <li class="navbar-item">
              <a href="./news.html" class="navbar-link" data-nav-link> News </a>
            </li>
            <li class="navbar-item">
              <a href="./FAQ.html" class="navbar-link" data-nav-link> FAQ </a>
            </li>
            <li class="navbar-item">
              <a href="./contact-us.html" class="navbar-link" data-nav-link> Contact Us </a>
            </li>
          </ul>
        </nav>

        <button
          class="nav-toggle-btn"
          aria-label="Toggle menu"
          data-nav-toggler
        >
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </button>

        <a href="./login.html" class="btn btn-outline">Login</a>
        <a href="./signup.html" class="btn btn-sign">Sign Up</a>
      </div>
    </header>

    <main>
      <article>
        <!-- hero -->
        <section class="section hero" aria-label="hero">
          <div class="container">
            <figure class="about-banner">
              <img
                src="../images/logo.svg"
                width="748"
                height="436"
                loading="lazy"
                alt="about banner"
                class="w-100"
              />
            </figure>
            <div class="about-content">
              <h2 class="h2 section-title">Welcome to Cryptex</h2>
              <p class="section-text">
                Where innovation meets security in the dynamic world of
                cryptocurrency. Established a year ago, Cryptex has quickly
                emerged as a trailblazer in the ever-evolving landscape of
                digital finance.
              </p>
              <a href="#about" class="btn btn-primary"
                >Explore More <i class="fa-solid fa-caret-down"></i
              ></a>
            </div>
          </div>
        </section>

        <!-- About -->
        <section class="section about" aria-label="about" id="about">
          <div class="container">
            <div class="about-content">
              <h2 class="h2 section-title">Our Vision</h2>
              <p class="section-text">
                At Cryptex, we envision a future where financial transactions
                are seamless, decentralized, and accessible to everyone. We
                believe in the transformative power of blockchain technology and
                strive to empower individuals worldwide by providing
                cutting-edge solutions for their financial needs.
              </p>
            </div>
            <div class="about-content">
              <h2 class="h2 section-title">Our Mission</h2>
              <p class="section-text">
                Our mission is to redefine the way people perceive and engage
                with digital assets. Cryptex is committed to delivering secure,
                user-friendly, and transparent crypto services that cater to
                both seasoned investors and newcomers to the crypto space.
              </p>
            </div>
          </div>
        </section>

        <!-- About -->
        <section class="section hero" aria-label="about" id="about">
          <h2
            class="h2 section-title"
            style="text-align: center; margin-bottom: 40px"
          >
            Core Values
          </h2>
          <div class="container">
            <div class="about-content">
              <ul class="section-list">
                <li class="section-item">
                  <div class="title-wrapper">
                    <ion-icon
                      name="checkmark-circle"
                      aria-hidden="true"
                    ></ion-icon>
                    <h3 class="h3 list-title">Innovation</h3>
                  </div>
                  <p class="item-text">
                    We thrive on pushing the boundaries of what's possible,
                    leveraging the latest technological advancements to offer
                    innovative financial solutions.
                  </p>
                </li>
                <li class="section-item">
                  <div class="title-wrapper">
                    <ion-icon
                      name="checkmark-circle"
                      aria-hidden="true"
                    ></ion-icon>
                    <h3 class="h3 list-title">Security</h3>
                  </div>
                  <p class="item-text">
                    The foundation of Cryptex is built on robust security
                    protocols. We prioritize the safety and privacy of our
                    users' assets, implementing state-of-the-art measures to
                    safeguard against threats.
                  </p>
                </li>
              </ul>
            </div>
            <div class="about-content">
              <ul class="section-list">
                <li class="section-item">
                  <div class="title-wrapper">
                    <ion-icon
                      name="checkmark-circle"
                      aria-hidden="true"
                    ></ion-icon>
                    <h3 class="h3 list-title">Accessibility</h3>
                  </div>
                  <p class="item-text">
                    Cryptex is designed to be user-friendly, ensuring that
                    anyone, regardless of their level of expertise, can navigate
                    the world of cryptocurrency with ease.
                  </p>
                </li>
                <li class="section-item">
                  <div class="title-wrapper">
                    <ion-icon
                      name="checkmark-circle"
                      aria-hidden="true"
                    ></ion-icon>
                    <h3 class="h3 list-title">Transparency</h3>
                  </div>
                  <p class="item-text">
                    We believe in open communication and transparency. Cryptex
                    is committed to providing clear and comprehensible
                    information to our users, fostering trust in every
                    interaction.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <!-- About -->
        <section class="section about" aria-label="about" id="about">
          <h2
            class="h2 section-title"
            style="text-align: center; margin-bottom: 40px"
          >
            Key Features
          </h2>
          <div class="container">
            <div class="about-content">
              <ul class="section-list">
                <li class="section-item">
                  <div class="title-wrapper">
                    <ion-icon
                      name="checkmark-circle"
                      aria-hidden="true"
                    ></ion-icon>
                    <h3 class="h3 list-title">Cryptocurrency Exchange</h3>
                  </div>
                  <p class="item-text">
                    Trade a diverse range of digital assets securely on our
                    advanced cryptocurrency exchange platform.
                  </p>
                </li>
                <li class="section-item">
                  <div class="title-wrapper">
                    <ion-icon
                      name="checkmark-circle"
                      aria-hidden="true"
                    ></ion-icon>
                    <h3 class="h3 list-title">Wallet Services</h3>
                  </div>
                  <p class="item-text">
                    Safely store and manage your digital assets with Cryptex's
                    secure wallets, offering both hot and cold storage options.
                  </p>
                </li>
              </ul>
            </div>
            <div class="about-content">
              <ul class="section-list">
                <li class="section-item">
                  <div class="title-wrapper">
                    <ion-icon
                      name="checkmark-circle"
                      aria-hidden="true"
                    ></ion-icon>
                    <h3 class="h3 list-title">Educational Resources</h3>
                  </div>
                  <p class="item-text">
                    Cryptex is more than just a platform; it's a learning hub.
                    Access a wealth of educational resources to enhance your
                    understanding of blockchain technology and cryptocurrencies.
                  </p>
                </li>
                <li class="section-item">
                  <div class="title-wrapper">
                    <ion-icon
                      name="checkmark-circle"
                      aria-hidden="true"
                    ></ion-icon>
                    <h3 class="h3 list-title">Community Engagement</h3>
                  </div>
                  <p class="item-text">
                    Join our vibrant community of crypto enthusiasts,
                    participate in discussions, and stay updated on the latest
                    industry trends.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <!-- registery -->
        <section class="section" aria-label="instruction">
          <div class="container">
            <h2 class="h2 section-title">
              Cryptex LTD
              <span style="color: var(--blue-crayola)">Company Registery</span>
            </h2>
            <p class="section-text">
              At Cryptex, we hold the principle of trust paramount in our
              operations. In strict adherence to our company's transparency
              policy, we affirm our customers' entitlement to access any
              information they seek, unrestrictedly and at any juncture. Our
              dedicated team, committed to fostering equitable mining practices,
              pledges to openly disclose all pertinent data that does not
              compromise our competitive edge. Presented herewith is verifiable
              information derived directly from the authoritative source of
              registration, Cryptex LTD, solidifying our unwavering commitment
              to transparency and integrity.
            </p>
            <h2 class="h2 section-title">
              One Year of Progress
            </h2>
            <p class="section-text">
              In just one year, Cryptex has achieved significant milestones,
              from expanding our user base to introducing new features that
              enhance the overall crypto experience. As we celebrate our first
              anniversary, we look forward to continued growth and the
              opportunity to shape the future of finance.
            </p>
            <p class="section-text">
              Thank you for being a part of the Cryptex journey. Together, we're
              pioneering a new era of financial possibilities. Here's to many
              more years of innovation, security, and prosperity with Cryptex!
            </p>
          </div>
        </section>
      </article>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="footer-brand">
            <a href="#" class="logo">
              <img
                src="../images/logo.svg"
                width="50"
                height="50"
                alt="Cryptex Logo"
              />
              Cryptex
            </a>
            <h2 class="footer-title">Let's talk! 🤙</h2>
            <a href="mailto:hello.cryptex@gmail.com" class="footer-contact-link"
              >hello.cryptex@gmail.com</a
            >
            <address class="footer-contact-link">
              Cecilia Chapman 711-2880 Nulla St. Mankato Mississippi 96522
            </address>
          </div>
          <ul class="footer-link">
            <li>
              <p class="footer-list-title">Products</p>
            </li>
            <li>
              <a href="#" class="footer-link">Spot</a>
            </li>
            <li>
              <a href="#" class="footer-link">Inverse Perpetual</a>
            </li>
            <li>
              <a href="#" class="footer-link">USDT Perpetual</a>
            </li>
            <li>
              <a href="#" class="footer-link">Exchange</a>
            </li>
            <li>
              <a href="#" class="footer-link">Launchpad</a>
            </li>
            <li>
              <a href="#" class="footer-link">Binance Pay</a>
            </li>
          </ul>
          <ul class="footer-link">
            <li>
              <p class="footer-list-title">Services</p>
            </li>
            <li>
              <a href="#" class="footer-link">Buy Crypto</a>
            </li>
            <li>
              <a href="#" class="footer-link">Markets</a>
            </li>
            <li>
              <a href="#" class="footer-link">Tranding Fee</a>
            </li>
            <li>
              <a href="#" class="footer-link">Affiliate Program</a>
            </li>
            <li>
              <a href="#" class="footer-link">Referral Program</a>
            </li>
            <li>
              <a href="#" class="footer-link">API</a>
            </li>
          </ul>
          <ul class="footer-link">
            <li>
              <p class="footer-list-title">Support</p>
            </li>
            <li>
              <a href="#" class="footer-link">Bybit Learn</a>
            </li>
            <li>
              <a href="#" class="footer-link">Help Center</a>
            </li>
            <li>
              <a href="#" class="footer-link">User Feedback</a>
            </li>
            <li>
              <a href="#" class="footer-link">Submit a request</a>
            </li>
            <li>
              <a href="#" class="footer-link">API Documentation</a>
            </li>
            <li>
              <a href="#" class="footer-link">Trading Rules</a>
            </li>
          </ul>
          <ul class="footer-link">
            <li>
              <p class="footer-list-title">About Us</p>
            </li>
            <li>
              <a href="#" class="footer-link">About Bybit</a>
            </li>
            <li>
              <a href="#" class="footer-link">Authenticity Check</a>
            </li>
            <li>
              <a href="#" class="footer-link">Careers</a>
            </li>
            <li>
              <a href="#" class="footer-link">Business Contacts</a>
            </li>
            <li>
              <a href="#" class="footer-link">Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p class="copyright">
            &copy; 2023 Cryptex All Rights Reserved by
            <a href="#" class="copyright-link">FAVE</a>
          </p>
          <ul class="social-list">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="../public/scripts/script.js"></script>
    <!-- ionicons script -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
