<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryptex - FAQ</title>
    <link rel="shortcut icon" href="./favicon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link rel="stylesheet" href="../public/styles/FAQ.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9d3e87d2ef.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- header -->
    <header class="header" data-header>
      <div class="container">
        <a href="./index.html" class="logo">
          <img
            src="../images/logo.svg"
            width="32"
            height="32"
            alt="Cryptex Logo"
          />
          Cryptex
        </a>
        <!-- navbar -->
        <nav class="navbar" data-navbar>
          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="./index.html" class="navbar-link" data-nav-link>
                Homepage
              </a>
            </li>
            <li class="navbar-item">
              <a href="./about.html" class="navbar-link" data-nav-link>
                About
              </a>
            </li>
            <li class="navbar-item">
              <a href="./education.html" class="navbar-link" data-nav-link>
                Education
              </a>
            </li>
            <li class="navbar-item">
              <a href="./help.html" class="navbar-link" data-nav-link>
                Help Center
              </a>
            </li>
            <li class="navbar-item">
              <a href="./news.html" class="navbar-link" data-nav-link> News </a>
            </li>
            <li class="navbar-item">
              <a href="#" class="navbar-link active" data-nav-link>
                FAQ
              </a>
            </li>
            <li class="navbar-item">
              <a href="./contact-us.html" class="navbar-link" data-nav-link>
                Contact Us
              </a>
            </li>
          </ul>
        </nav>

        <button
          class="nav-toggle-btn"
          aria-label="Toggle menu"
          data-nav-toggler
        >
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </button>

        <a href="./login.html" class="btn btn-outline">Login</a>
        <a href="./signup.html" class="btn btn-sign">Sign Up</a>
      </div>
    </header>

    <main>
      <article>
        <div class="body">
          <div class="contain">
            <h1 class="title">Frequently Asked Questions</h1>
            <nav class="accordion">
              <div class="faq-img">
                <img
                  src="../images/faq.svg"
                  alt="FAQ img"
                  class="accordion-img"
                />
              </div>
              <div class="content-accordion">
                <div class="question-answer">
                  <div class="question">
                    <h3 class="title-question">
                      Are you a registered company?
                    </h3>
                    <button class="question-btn">
                      <span class="up-icon">
                        <i class="fa-solid fa-chevron-up"></i>
                      </span>
                      <span class="down-icon">
                        <i class="fa-solid fa-chevron-down"></i>
                      </span>
                    </button>
                  </div>
                  <div class="answer">
                    <p>
                      Cryptex is an officially registered, United Kingdom-based
                      cloud crypto mining initiative, dedicated to upholding the
                      utmost standards of security for its esteemed users. We
                      take great pride in our commitment to ensuring the safety
                      and confidentiality of our users' assets. Our operations
                      adhere to rigorous protocols and industry best practices,
                      emphasizing the protection of sensitive information and
                      the secure management of crypto mining activities. As a
                      trusted entity, Cryptex remains steadfast in its pursuit
                      of excellence, providing a secure and reliable platform
                      for individuals seeking to engage in cryptocurrency mining
                      with confidence.
                    </p>
                    <br />
                  </div>
                </div>
                <div class="question-answer">
                  <div class="question">
                    <h3 class="title-question">
                      What are the payment methods and limits by which you
                      operate?
                    </h3>
                    <button class="question-btn">
                      <span class="up-icon">
                        <i class="fa-solid fa-chevron-up"></i>
                      </span>
                      <span class="down-icon">
                        <i class="fa-solid fa-chevron-down"></i>
                      </span>
                    </button>
                  </div>
                  <div class="answer">
                    <p>
                      Cryptex accepts Visa and Mastercard for credit/debit card
                      transactions, with a minimum purchase of 10 USD and a
                      transaction limit of 6000 USD. Card limits include 5
                      purchases per day, 10 purchases per week, and a
                      daily/monthly purchase limit of 25000 USD.
                    </p>
                    <br />
                    <p>
                      For cryptocurrency transactions (Bitcoin, Bitcoin Cash,
                      Zcash, Litecoin, Dogecoin), there are no limits on
                      purchases, and transactions are unlimited for both daily
                      and monthly periods.
                    </p>
                    <br />
                    <p>
                      Please note that while there are no specific limits for
                      cryptocurrency transactions, certain banks may impose
                      additional fees, known as Cash Advance fees, for
                      cryptocurrency-related services. For further clarification
                      or assistance, please contact our customer support.
                    </p>
                    <br />
                  </div>
                </div>
                <div class="question-answer">
                  <div class="question">
                    <h3 class="title-question">How do I create an account</h3>
                    <button class="question-btn">
                      <span class="up-icon">
                        <i class="fa-solid fa-chevron-up"></i>
                      </span>
                      <span class="down-icon">
                        <i class="fa-solid fa-chevron-down"></i>
                      </span>
                    </button>
                  </div>
                  <div class="answer">
                    <p>
                      Opening a new Cryptex account is a straightforward
                      process. Simply follow the provided instructions, input
                      your details, and efficiently create an account using your
                      chosen email and password.
                    </p>
                    <br />
                    <p>
                      Upon agreeing to Cryptex's terms and conditions, a
                      confirmation email will be sent, prompting you to verify
                      your email address. In the event that you do not receive
                      the confirmation email, kindly check your spam folder and
                      adjust your email settings to ensure you receive important
                      communications, including exclusive opportunities reserved
                      for our newsletter recipients.
                    </p>
                    <br />
                    <p>
                      Following these steps will grant you access to your new
                      Cryptex account section, allowing you to embark on the
                      rewarding journey into the world of Cryptex Mining.
                    </p>
                    <br />
                  </div>
                </div>
                <div class="question-answer">
                  <div class="question">
                    <h3 class="title-question">
                      Could you please provide me with information on the
                      potential returns?
                    </h3>
                    <button class="question-btn">
                      <span class="up-icon">
                        <i class="fa-solid fa-chevron-up"></i>
                      </span>
                      <span class="down-icon">
                        <i class="fa-solid fa-chevron-down"></i>
                      </span>
                    </button>
                  </div>
                  <div class="answer">
                    <p>
                      We refrain from making definitive statements concerning
                      the performance of your contract, given the dynamic nature
                      of the crypto mining market.
                    </p>
                    <br />
                    <p>
                      Nevertheless, we are committed to offering a comprehensive
                      understanding of mining scenarios and potential outcomes,
                      along with guidance on formulating your predictions with a
                      reasonable degree of accuracy.
                    </p>
                    <br />
                    <p>
                      It is imperative to consider the pre-agreed Cryptex
                      maintenance fees when assessing the performance of your
                      mining venture.
                    </p>
                    <br />
                    <p>
                      Furthermore, it is crucial to note that diverse networks
                      and valuations within the crypto market may present
                      varying assessments and appreciations of network
                      performance, particularly concerning the specific
                      cryptocurrencies being mined.
                    </p>
                    <br />
                  </div>
                </div>
                <div class="question-answer">
                  <div class="question">
                    <h3 class="title-question">
                      Can you explain how the affilate program works?
                    </h3>
                    <button class="question-btn">
                      <span class="up-icon">
                        <i class="fa-solid fa-chevron-up"></i>
                      </span>
                      <span class="down-icon">
                        <i class="fa-solid fa-chevron-down"></i>
                      </span>
                    </button>
                  </div>
                  <div class="answer">
                    <p>
                      Embark on an extraordinary journey with the Cryptex
                      affiliate program - a seamless fusion of simplicity and
                      profitability that transcends the ordinary. At the heart
                      of this avant-garde initiative lies your exclusive
                      affiliate code, a digital talisman uniquely tethered to
                      your account. As magic unfolds, each user who registers
                      with the mystic touch of your referral code is bestowed
                      with a 3% discount on their chosen purchase. It's not
                      merely a transaction; it's a symbiotic dance of benefits.
                    </p>
                    <br>
                    <p>
                      But here's where the alchemy truly takes flight - for
                      every referral, your hash power ascends, a dynamic force
                      propelling you to greater heights within our esteemed
                      affiliate ranks. Picture it: the more referrals you weave
                      into this tapestry of success, the higher you soar in the
                      echelons of affiliate prowess. As your rank ascends, so
                      does the magnitude of your hash power boost - a celestial
                      alignment of rewards echoing the harmony of your
                      influence.
                    </p>
                    <br>
                    <p>
                      Yet, worry not about losing track amidst this cosmic dance
                      of affiliations. The universe has your back. We, the
                      cosmic custodians of Cryptex, pledge to keep you in the
                      loop, sending celestial notifications to your linked email
                      whenever your referral code echoes through the cosmos,
                      creating ripples of prosperity.
                    </p>
                    <br>
                    <p>
                      In this cosmos of affiliates, where simplicity intertwines
                      with profitability, your journey unfolds with every
                      referral, every hash power surge, and every cosmic whisper
                      of success. So, brace yourself for an odyssey where the
                      ordinary dissolves, and the extraordinary thrives -
                      welcome to the Cryptex affiliate universe, where magic
                      meets prosperity!
                    </p>
                    <br>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </article>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="footer-brand">
            <a href="#" class="logo">
              <img
                src="../images/logo.svg"
                width="50"
                height="50"
                alt="Cryptex Logo"
              />
              Cryptex
            </a>
            <h2 class="footer-title">Let's talk! 🤙</h2>
            <a href="mailto:hello.cryptex@gmail.com" class="footer-contact-link"
              >hello.cryptex@gmail.com</a
            >
            <address class="footer-contact-link">
              Cecilia Chapman 711-2880 Nulla St. Mankato Mississippi 96522
            </address>
          </div>
          <ul class="footer-link">
            <li>
              <p class="footer-list-title">Products</p>
            </li>
            <li>
              <a href="#" class="footer-link">Spot</a>
            </li>
            <li>
              <a href="#" class="footer-link">Inverse Perpetual</a>
            </li>
            <li>
              <a href="#" class="footer-link">USDT Perpetual</a>
            </li>
            <li>
              <a href="#" class="footer-link">Exchange</a>
            </li>
            <li>
              <a href="#" class="footer-link">Launchpad</a>
            </li>
            <li>
              <a href="#" class="footer-link">Binance Pay</a>
            </li>
          </ul>
          <ul class="footer-link">
            <li>
              <p class="footer-list-title">Services</p>
            </li>
            <li>
              <a href="#" class="footer-link">Buy Crypto</a>
            </li>
            <li>
              <a href="#" class="footer-link">Markets</a>
            </li>
            <li>
              <a href="#" class="footer-link">Tranding Fee</a>
            </li>
            <li>
              <a href="#" class="footer-link">Affiliate Program</a>
            </li>
            <li>
              <a href="#" class="footer-link">Referral Program</a>
            </li>
            <li>
              <a href="#" class="footer-link">API</a>
            </li>
          </ul>
          <ul class="footer-link">
            <li>
              <p class="footer-list-title">Support</p>
            </li>
            <li>
              <a href="#" class="footer-link">Bybit Learn</a>
            </li>
            <li>
              <a href="#" class="footer-link">Help Center</a>
            </li>
            <li>
              <a href="#" class="footer-link">User Feedback</a>
            </li>
            <li>
              <a href="#" class="footer-link">Submit a request</a>
            </li>
            <li>
              <a href="#" class="footer-link">API Documentation</a>
            </li>
            <li>
              <a href="#" class="footer-link">Trading Rules</a>
            </li>
          </ul>
          <ul class="footer-link">
            <li>
              <p class="footer-list-title">About Us</p>
            </li>
            <li>
              <a href="#" class="footer-link">About Bybit</a>
            </li>
            <li>
              <a href="#" class="footer-link">Authenticity Check</a>
            </li>
            <li>
              <a href="#" class="footer-link">Careers</a>
            </li>
            <li>
              <a href="#" class="footer-link">Business Contacts</a>
            </li>
            <li>
              <a href="#" class="footer-link">Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p class="copyright">
            &copy; 2023 Cryptex All Rights Reserved by
            <a href="#" class="copyright-link">FAVE</a>
          </p>
          <ul class="social-list">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="../public/scripts/script.js"></script>
    <script src="../public/scripts/FAQ.js"></script>
    <!-- ionicons script -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
