<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>404 - Cryptex</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./favicon.svg" />

    <!-- Main style file -->
    <link rel="stylesheet" href="../styles/dashboard.css" type="text/css" />
  </head>
  <body class="d-md-flex align-items-center justify-content-center">
    <div class="container text-center p-5 p-md-0">
      <div class="row mb-4">
        <div class="col-md-5 m-auto">
          <figure>
            <img class="img-fluid" src="../images/500.svg" alt="image" />
          </figure>
        </div>
      </div>
      <h2 class="display-6">Something went wrong!</h2>
      <p class="text-muted my-4">
        Unfortunately, something went wrong on the server - we're doing our best
        to fix it as quick as possible!
      </p>
      <div class="d-flex gap-3 justify-content-center">
        <button
          class="btn btn-primary prev-page"
          style="background-color: #3874ff; border: none"
        >
          Let's Take You Back Safely
        </button>
      </div>
    </div>
    <script src="../scripts/go-back.js"></script>
  </body>
</html>
