<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="shortcut icon" href="./favicon.svg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.6.0/remixicon.css"
    />
  </head>
  <body class="auth">
    <!-- begin::preloader-->
    <div class="preloader">
      <div class="preloader-icon"></div>
    </div>
    <!-- end::preloader -->

    <div class="form-wrapper">
      <div class="container">
        <div class="card">
          <div class="row g-0">
            <div class="col">
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <div class="d-block d-lg-none text-center text-lg-start">
                    <a href="/index" class="logo">
                      <img
                        src="../images/logo.svg"
                        width="52"
                        height="52"
                        alt="Cryptex Logo"
                      />
                    </a>
                  </div>
                  <div class="my-5 text-center text-lg-start">
                    <h1 class="display-8">Sign In</h1>
                    <p class="text-muted">Sign in to Cryptex to continue</p>
                  </div>
                  <form action="./login" method="POST" class="mb-5">
                    <% if (inputData.hasError) { %>
                      <p class="text-danger"><%= inputData.message %></p>
                      <% } %>
                    <div class="mb-3">
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Email"
                        name="email"
                        value="<%= inputData.email %>"
                        autofocus
                        required
                      />
                    </div>
                    <div class="mb-3">
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Password"
                        name="password"
                        value="<%= inputData.password %>"
                        required
                      />
                    </div>
                    <div class="text-center text-lg-start">
                      <p class="small">
                        Can't access your account?
                        <a href="#">Reset your password now</a>.
                      </p>
                      <button
                        class="btn btn-primary"
                        style="background-color: #3874ff; border: none"
                      >
                        Sign In
                      </button>
                    </div>
                  </form>
                  <div class="social-links justify-content-center">
                    <a href="#">
                      <i
                        class="ri-github-fill"
                        style="background-color: black"
                      ></i>
                      Our Github Account
                    </a>
                    <a href="#">
                      <i class="ri-facebook-circle-fill bg-facebook"></i> Our Facebook
                      Account
                    </a>
                  </div>
                  <p class="text-center d-block d-lg-none mt-5 mt-lg-0">
                    Don't have an account? <a href="#">Sign up</a>.
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col d-none d-lg-flex border-start align-items-center justify-content-between flex-column text-center"
            >
              <div class="logo mt-5">
                <a href="/index" class="logo">
                  <img
                    src="../images/logo.svg"
                    width="52"
                    height="52"
                    alt="Cryptex Logo"
                  />
                </a>
              </div>
              <div>
                <h3 class="fw-bold">Welcome to Cryptex!</h3>
                <p class="lead my-5">
                  If you don't have an account, would you like to register right
                  now?
                </p>
                <a
                  href="/signup"
                  class="btn btn-primary"
                  style="background-color: #3874ff; border: none"
                  >Sign Up</a
                >
              </div>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms & Conditions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JQuery -->
    <script src="../libs/jquery-3.7.1.min.js"></script>

    <!-- Main Javascript file -->
    <script src="../scripts/dashboard.js"></script>
  </body>
</html>
