.copy-text{
    position: relative;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
}

.copy-text p.text{
    padding: 2px 10px;
    font-size: 18px;
    color: black;
    border: none;
    outline: none;
}

.copy-text .copy-btn{
    padding: 2px 10px;
    background: #3874ff;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.copy-text .copy-btn:active{
    background: #96b5ff;
}

.copy-text .copy-btn::before{
    content: "copied";
    position: absolute;
    top: -52px;
    right: 0px;
    background: #3874ff;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}

.copy-text .copy-btn::after{
    content: "";
    position: absolute;
    top: -20px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #3874ff;
    transform: rotate(45deg);
    display: none;
}

.copy-text.active .copy-btn::before,
.copy-text.active .copy-btn::after{
    display: block;
}